.slider {

  &__arrow {
    transition: .3s;

    &:hover {
      cursor: pointer;
      transform: scale(1.3);
    }
  }

  &__arrow_left {
    transform: rotate(180deg);

    &:hover {
      transform: scale(1.3) rotate(180deg);
    }
  }

  &__arrow_down {
    transform: rotate(90deg);

    &:hover {
      transform: scale(1.3) rotate(90deg);
    }
  }
}