$black: #0d444d; // same as btnBlack
$bambooTree: #216e7a;
$white: #c5e1e6;
$yellowBtn: #fff5ba;
$bg: #2a8086;
$notSoYellowBtn: #ad954b;
$heroText: #f3f7f8;
$footerBg: #196469;
$btnLined: #19707d;
$imageFilter: #b9d5d9;

$c4: #c4c4c4;

.color_white {
  color: $white;
}

.color_black {
  color: $black;
}

.background_bg {
  background-color: $bg;
}