.banner {
  position: relative;
  margin-top: 14px;
  background-image: url("../../../assets/images/zoo-banner.png");
  height: 425px;

  &__btn {
    position: absolute;
    padding: 14px 78px;
    left: 50%;
    bottom: 43px;
    transform: translate(-47.7%, -50%);
  }

  @media (max-width: 1200px) {
    margin-top: 92px;
    background-image: url("../../../assets/images/zoo-banner-1200.png");
    height: 346px;

    &__btn {
      bottom: 2px;
    }
  }

  @media (max-width: 640px) {
    margin-top: -68px;
    height: 402px;
    background-image: url("../../../assets/images/zoo-banner-640.png");
  }

  @media (max-width: 340px) {
    margin-top: 13px;
    height: 280px;
    background-image: url("../../../assets/images/zoo-banner-320.png");

    &__btn {

      transform: translateX(-50%);
      width: 242px;
      padding: 11px 0;
      bottom: 44px;
    }
  }
}