nav {
  height: 100%;
}

ul {
  height: inherit;
  display: flex;
  flex-flow: row;

  a {
    box-sizing: border-box;
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    text-decoration: none;
    color: white;
    font-family: 'Roboto';
    font-size: 0.75rem;
    line-height: 15px;
    letter-spacing: 0.4px;

    transition: .3s;

    &:hover {
      color: orange;
    }

    &:focus {
      outline: none;
    }

    img {
      max-width: 20px;
      max-height: 20px;
    }
  }
}