@import '../_helpers/colors.scss';

.btn {
  border-radius: 100px;
  transition: .3s;

  &_white {
    background: #FFFFFF;
    letter-spacing: -0.9px;
    box-shadow: 0px 2px 50px rgba(185, 213, 217, 0.6);

    &:hover {
      box-shadow: 0px 2px 50px rgba(215, 243, 247, 1);
    }
  }

  &_main {
    &_watch {
      width: 258px;
      height: 52px;
      margin-left: -1px;
    }

    &_donate {
      letter-spacing: 0.1em !important;
      position: absolute;
    }
  }

  &__icon {
    margin-right: 5px;

    &_modal {
      margin-right: 15px;
    }
  }

  &_transparent {
    border: 2px solid $btnLined;
    background-color: transparent;
    color: $btnLined;
    letter-spacing: 1.7px;

    &:hover {
      background-color: $white;
    }
  }

  &_pets_full {
    width: 331px;
    height: 52px;
  }

  &_solid {
    letter-spacing: -0.85px;
    background-color: $white;
    filter: drop-shadow(0px 2px 20px rgba(185, 213, 217, 0.6));

    &:hover {
      filter: drop-shadow(0px 2px 20px rgba(215, 243, 247, 1));
    }
  }

  &_pay_full {
    width: 356px;
    height: 52px;
  }

  &_testimonials_full {
    width: 255px;
    height: 52px;
  }

  &_choose {
    background-color: unset;
    height: 100%;
    width: 50%;
    font-family: Roboto;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: $black;
    border-bottom: 2px solid $white;
    border-radius: 0;
    transition: .3s;

    &_active {
      border-bottom-color: $bg;
    }

    &:hover {
      background-color: $white;
    }
  }

  &_socials {
    border-radius: 10px;
    width: 216px;
    background-color: white;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 19px;
    color: #2d2d2d;
    justify-content: center;
    align-items: center;
    transition: .3s;

    &:hover {
      background-color: $white;
    }
  }

  @media (max-width: 1520px) {
    &_main {
      &_watch {
        width: 258px;
        height: 52px;
        margin-left: 1px;
      }
    }

    &_transparent {
      font-size: 16px;
      line-height: 21px;
    }

    &_pets_full {
      width: 303px;
      height: 40px;
    }

    &_pay_full {
      width: 289px;
      height: 40px;
    }

    &_pay_tablet {
      width: 120px;
      height: 37px;
    }

    &_testimonials_full {
      width: 236px;
      height: 40px;
    }
  }

  @media (max-width: 1050px) {
    &_main {

      &_watch,
      &_donate {
        height: 37px;
      }

      &_watch {
        width: 170px;
      }

      &_donate {
        width: 174px;
        right: -111%;
      }
    }
  }

  @media (max-width: 900px) {
    font-size: 14px;
    line-height: 18px;

    &__icon {
      max-width: 19px;
    }

    &_pets_full {
      letter-spacing: 0.1em;
      width: 269px;
      height: 37px;
    }

    &_testimonials_full {
      width: 210px;
      height: 37px;
    }

    &_choose {
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }

    &_socials {
      width: 189px;      
    }
  }

  @media (max-width: 600px) {
    &_main {

      &_watch,
      &_donate {
        width: 139px;
        height: 40px;
      }

      &_watch {
        margin-left: 2px;
      }

      &_donate {
        right: -113.5%;
      }
    }

    &_pets_mobile {
      margin-top: 52px;
      margin-right: 10px;
      width: 269px;
      height: 37px;
      letter-spacing: 1.45px;
    }

    &_pay_mobile {
      width: 300px;
      height: 40px;
      margin-top: 97px;
      margin-left: 1px;
    }

    &_testimonials_mobile {
      width: 300px;
      height: 40px;
      margin: auto;
      margin-top: 22px;
    }
  }
}