header {
  background-color: #2196F3;
  height: 64px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  box-shadow: 0 1px #1976D2;
  margin-left: 24px;
}